<style>
        .main{
            clear: both;
        }
        .clean-both{
            clear: both;
            margin-bottom: 10px;
            border-bottom: 1px dashed #000;
        }
        .menu1 ul li{
            float:left; /* 向左漂移，将竖排变为横排 */
            padding-left: 10px;
            margin-bottom: 10px;
            width: 20%;
        }
        .menu ul li{
            float:left; /* 向左漂移，将竖排变为横排 */
            padding-left: 10px;
            margin-bottom: 10px;
            width: 42%;
        }
        .menu3 ul li{
            float:left; /* 向左漂移，将竖排变为横排 */
            margin-left: 10px;
            margin-bottom: 10px;
        }
        .pos-input input{
            width: 30%;
            height: 40px;
            border:1px solid #000000;
        }
        .poslog table td{
            border:1px solid #F00;
            padding: 3px;
        }
    </style>
<div class="pos-main">
    <form action="index.php?app=b2c&ctl=admin_pos&act=logsave" method="post" id='newmember-edit-form' class="tableform">
    <input type="hidden" name="id" value="<{$info.id}>" >
        <div class="menu1" style="padding-top: 20px;">
            <ul>
                <li>
                    <input type="radio" name="belong_to" value="lsc" id="lsc" <{if $info.belong_to=='lsc'}> checked <{/if}> ><label for="lsc">我的</label>
                </li>
                <li>
                    <input type="radio" name="belong_to" value="liu" id="liu" <{if $info.belong_to=='liu'}> checked <{/if}> ><label for="liu">刘</label>
                </li>
            </ul>
        </div>
        <div class="clean-both"></div>
        <div class="menu">
            刷卡机品牌：
            <ul class="ajax-posbrand">
            </ul>
        </div>
        <div class="clean-both"></div>
        <div class="menu">
            刷卡方式：
            <ul class="ajax-postype">
            </ul>
            <input type="hidden" name="feilv" value="">
            <input type="hidden" name="fengding" value="">

        </div>
        <div class="clean-both"></div>
        <div class="menu">
            银行卡：
            <ul class="ajax-poscard">
            </ul>
        </div>
        <div class="clean-both"></div>
        <div>
            创建时间：
            <{input type="time" value=$info.create_time vtype="required" name="from_time"}>
        </div>
        <div class="pos-input">
            ¥&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;：<input type="text" name="money" value="<{$info.money}>">
            备注：
            <input type="text" name="memo" value="<{$info.memo}>"><br>
            mcc：
            <input type="number" name="mcc" value="<{$info.mcc}>">
        </div>
        <div class="table-action"><{button type="submit"  label=$___b2c="保存"|t:'b2c' id='newmember-edit-form-submit'}></div>
    </form>
</div>
<script type="text/javascript">

    var posbrand_id_already = '<{$info.posbrand_id}>';
    var postype_id_already = '<{$info.postype_id}>';
    var card_id_already = '<{$info.card_id}>';

    jq(function(){
        //ajax获取刷卡机品牌
        var urlPosBrand = 'index.php?app=b2c&ctl=admin_pos&act=ajaxGetPosBrand';
        jq.post(urlPosBrand, {posbrand_id:posbrand_id_already}, function(re) {
            jq('.ajax-posbrand').html(re);
        });

        //获取刷卡方式
        ajaxGetPosType(posbrand_id_already,postype_id_already);

        //获取信用卡列表
        var belong_to = jq('input[name=belong_to]:checked').val();
        if (belong_to != 0) {
            console.log(card_id_already);
            getPosCard(belong_to,card_id_already);
        }

        jq(document).on('change','input[name=posbrand_id]', function(event) {
            var posbrand_id = jq(this).val();
            ajaxGetPosType(posbrand_id);
        }).on('change', 'input[name=belong_to]', function(event) {//ajax获取信用卡列表
            //清空选中的卡id
            jq('input[name=card_id]:checked').val('');
            var belong_to = jq(this).val();
            getPosCard(belong_to);
        })
    });
    //获取刷卡方式
    function ajaxGetPosType(posbrand_id,postype_id_already){
        //ajax获取刷卡方式
        var urlPosType = 'index.php?app=b2c&ctl=admin_pos&act=ajaxGetPosType';
        jq.post(urlPosType,{posbrand_id:posbrand_id,postype_id:postype_id_already},function(re){
            jq('.ajax-postype').html(re);
        });
    }
    //获取信用卡列表
    function getPosCard(belong_to,card_id){
        var url = 'index.php?app=b2c&ctl=admin_pos&act=ajaxGetPosCard';
        jq.post(url,{belong_to:belong_to,card_id:card_id},function(re){
            jq('.ajax-poscard').html(re);
        });
    }

    (function(){
        var _form = $('newmember-edit-form');
        var btn =$('newmember-edit-form-submit');
        var finder = finderGroup['<{$env.get._finder.finder_id}>'];

        _form.store('target',{
            onComplete:function(){
            },
            onSuccess:function(response){
                var hash_res_obj = JSON.decode(response);
                if (hash_res_obj.success != undefined && hash_res_obj.success != "")
                {
                    try{
                        var _dialogIns = btn.getParent('.dialog').retrieve('instance');
                    }catch(e){}

                    if(_dialogIns)
                    {
                        _dialogIns.close();
                        finder.refresh.delay(400,finder);
                    }
                }
            }
        });

        btn.addEvent('click',function(){
            //获得已选中刷卡方式的费率
            var feilv = jq('input[name=postype_id]:checked').data('feilv');
            jq('input[name=feilv]').val(feilv);
            //获得已选中刷卡方式的封顶
            var fengding = jq('input[name=postype_id]:checked').data('fengding');
            jq('input[name=fengding]').val(fengding);
            _form.fireEvent('submit',{stop:$empty});

        });

    })();
</script>