<style>
.main {
    clear: both;
}

.clean-both {
    clear: both;
    margin-bottom: 10px;
    border-bottom: 1px dashed #000;
}

.menu1 ul li {
    float: left;
    /* 向左漂移，将竖排变为横排 */
    padding-left: 10px;
    margin-bottom: 10px;
    width: 20%;
}

.menu ul li {
    float: left;
    /* 向左漂移，将竖排变为横排 */
    padding-left: 10px;
    margin-bottom: 10px;
    width: 42%;
}

.menu3 ul li {
    float: left;
    /* 向左漂移，将竖排变为横排 */
    margin-left: 10px;
    margin-bottom: 10px;
}

.pos-input input {
    width: 30%;
    height: 40px;
    border: 1px solid #000000;
}

.poslog table td {
    border: 1px solid #F00;
    padding: 3px;
}

.pos-main .noactive {
    display: none;
}

.pos-main .active {
    display: block;
}
</style>
<div class="pos-main">
    <form action="#" method="post" id='newmember-edit-form' class="tableform form-log">
    <input type="hidden" name="id" value="<{$info.id}>" >
        <div class="menu1" style="padding-top: 20px;">
            <ul>
                <li>
                    <input type="radio" name="belong_to" value="lsc" id="lsc" <{if $info.belong_to=='lsc'}> checked <{/if}> ><label for="lsc">我的</label>
                </li>
                <li>
                    <input type="radio" name="belong_to" value="liu" id="liu" <{if $info.belong_to=='liu'}> checked <{/if}> ><label for="liu">刘</label>
                </li>
                <li>
                <select name="type">
                    <option value="pos" <{if $info.type == "pos"}>selected<{/if}> >pos刷卡</option>
                    <option value="xiaofei" <{if $info.type == "xiaofei"}>selected<{/if}> >消费</option>
                    <option value="huankuan" <{if $info.type == "huankuan"}>selected<{/if}> >还款</option>
                    <option value="nianfei" <{if $info.type == "nianfei"}>selected<{/if}> >年费</option><option value="change" <{if $info.type == "change"}>selected<{/if}> >手动调整</option>
                </select>
                </li>
            </ul>
        </div>
        <div class="clean-both"></div>
        <div class="menu">
            刷卡机品牌：
            <ul class="ajax-posbrand">
                <{foreach from=$posBrandLists item=item}>
                    <li>
                        <input type="radio" name="posbrand_id" value="<{$item.0.posbrand_id}>" id="posbrand<{$item.0.posbrand_id}>"><label for="posbrand<{$item.0.posbrand_id}>"><{$item.0.name}></label>
                    </li>
                <{/foreach}>
            </ul>
        </div>
        <div class="clean-both"></div>
        <div class="menu">
            刷卡方式：
            <{foreach from=$posBrandLists key=belong_to item=posBrandList}>
                <ul class="ajax-postype noactive posBrandList-<{$belong_to}>">
                    <{foreach from=$posBrandList item=item}>
                        <li>
                            <input type="radio" name="postype_id" value="<{$item.postype_id}>" id="postype<{$item.postype_id}>" data-feilv="<{$item.feilv}>" data-fengding="<{$item.fengding}>"><label for="postype<{$item.postype_id}>"><{$item.sub_name}>-<{$item.shuaka_type}>-<{if $item.fengding>0}><{$item.fengding}><{else}><{$item.feilv}><{/if}></label>
                        </li>
                    <{/foreach}>
                </ul>
            <{/foreach}>
        </div>
        <div class="clean-both"></div>
        <div class="menu">
            银行卡：
            <{foreach from=$cardLists key=belong_to item=cardList}>
            <ul class="ajax-poscard noactive card-<{$belong_to}>">
                <{foreach from=$cardList item=item}>
                <li>
                    <input type="radio" name="card_id" data-share_flag=\'<{$item.share_flag}>\' value="<{$item.card_id}>" id="poscard<{$item.card_id}>" ><label for="poscard<{$item.card_id}>"><{$item.name}>-<{$item.card_no}>-<{$item.memo}></label>
                </li>
                <{/foreach}>
            </ul>
            <{/foreach}>
        </div>
        <div class="clean-both"></div>
        <div>
            创建时间：
            <{input type="time" value=$info.create_time vtype="required" name="from_time"}>
        </div>
        <div class="pos-input">
            ¥&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;：<input type="text" name="money" value="<{$info.money}>">
            备注：
            <input type="text" name="memo" value="<{$info.memo}>"><br>
            mcc：
            <input type="number" name="mcc" value="<{if $info.mcc}><{$info.mcc}><{else}>0<{/if}>">
        </div>
        <div class="table-action">
            <button type="button" id="tijiao" class="btn"><span><span>保存</span></span></button>
        </div>
    </form>
</div>
<script type="text/javascript">
    var isEdit = '<{$info.id}>';
    if (isEdit) {
        console.log(isEdit);
        //获取刷卡方式
        var belong_to1 = '<{$info.posbrand_id}>';
        jq("input[id=posbrand"+belong_to1+"]").prop("checked",true);
        getPosBrandList(belong_to1);
        var belong_to2 = '<{$info.belong_to}>';
        getPosCard(belong_to2);
        //选中的
        var postype_id = '<{$info.postype_id}>';
        jq("input[id=postype"+postype_id+"]").prop("checked",true);
        var card_id = '<{$info.card_id}>';
        jq("input[id=poscard"+card_id+"]").prop("checked",true);
        //编辑时需要保留老的money数据，方便额度的变化
        var oldMoney = '<{$info.money}>';
    }
    jq(function(){
        //获取刷卡方式
        jq(document).on('change','input[name=posbrand_id]', function(event) {
            //清空选中的
            jq('input[name=postype_id]:checked').prop("checked",false);
            //获取刷卡方式
            var belong_to1 = jq(this).val();
            getPosBrandList(belong_to1);
            //检索按钮是否选中,获取是否选中
            var isChecked = jq('input[name=jiansuo]').is(":checked");
        }).on('change', 'input[name=belong_to]', function(event) {//ajax获取信用卡列表
            //清空选中的卡id
            jq('input[name=card_id]:checked').prop("checked",false);
            var belong_to2 = jq(this).val();
            getPosCard(belong_to2);
        })
    });
    //获取信用卡列表
    function getPosCard(belong_to){
        jq(".ajax-poscard").removeClass('active');
        jq(".card-"+belong_to).addClass('active');
    }
    //获取刷卡方式
    function getPosBrandList(belong_to){
        jq(".ajax-postype").removeClass('active');
        jq(".posBrandList-"+belong_to).addClass('active');
    }
    //ajax提交表单
    jq('#tijiao').on('click', function(event) {
        event.preventDefault();
        //获得已选中刷卡方式的费率
        var feilv = jq('input[name=postype_id]:checked').data('feilv');
        //获得已选中刷卡方式的封顶
        var fengding = jq('input[name=postype_id]:checked').data('fengding');
        //共享额度标识
        var share_flag = jq('input[name=card_id]:checked').data('share_flag');
        share_flag = share_flag.replace(/[\'\"\\\/\b\f\n\r\t]/g,'');// 去掉转义字符
        jq(this).attr("disabled","true");
        var url = 'index.php?app=b2c&ctl=admin_pos&act=logsave';
        if (typeof(feilv)=='undefined') {
            feilv=0;
        }
        if (typeof(fengding)=='undefined') {
            fengding=0;
        }
        jq.post(url, jq('.form-log').serialize()+'&feilv='+feilv+'&fengding='+fengding+'&share_flag='+share_flag+'&oldMoney='+oldMoney, function(re) {
            re =  JSON.parse(re);
            alert(re.msg);
            if (re.success) {
                var btn =$('tijiao');
                var finder = finderGroup['<{$env.get._finder.finder_id}>'];
                var _dialogIns = btn.getParent('.dialog').retrieve('instance');
                _dialogIns.close();
                finder.refresh.delay(400,finder);
            }
            jq('#tijiao').removeAttr('disabled');
        });
    });
</script>