<style>
    .dongtai{
        /*display: none;*/
    }
</style>
<form method="POST" id='newmember-edit-form' action="index.php?app=b2c&ctl=admin_posbrand&act=save" class="tableform">
    <input type="hidden" name="posbrand_id" value="<{$info.posbrand_id}>">
    <table width="100%" class="need-append">
            <tr><th><em class="red">*</em><{t}>pos机名称：<{/t}></th>
                <td><{input type="text" name="name" size="20" vtype="required" value=$info.name }></td>
            </tr>
            <tr>
                <th><em class="red">*</em><{t}>是否含有子类：<{/t}></th>
                <td>
                    <input type="radio" name="is_havesub" value="0" id="is_havesub0" <{if $info.is_havesub == 0 || !$info.is_havesub}>checked <{/if}>> <label for="is_havesub0">否</label>
                    <input type="radio" name="is_havesub" value="1" id="is_havesub1" <{if $info.is_havesub == 1}>checked <{/if}> > <label for="is_havesub1">是</label>
                </td>
            </tr>
            <tr class="is_xianshi">
                <th><{t}>pos商户编号：<{/t}></th>
                <td><{input type="text" name="merchant_code" value=$info.merchant_code }></td>
            </tr>
            <tr class="is_xianshi">
                <th><{t}>pos法人：<{/t}></th>
                <td><{input type="text" name="faren" value=$info.faren }></td>
            </tr>
            <tr class="is_xianshi">
                <th><{t}>pos结算银行：<{/t}></th>
                <td><{input type="text" name="jiesuan_bank" value=$info.jiesuan_bank }></td>
            </tr>
            <tr class="is_xianshi">
                <th><{t}>pos备注：<{/t}></th>
                <td><{input type="text" name="memo" value=$info.memo }></td>
            </tr>
            <tr>
                <th></th>
                <td class="is_xianshi2">
                    <button type="button" class="tianjian">添加子类</button>
                </td>
            </tr>
    </table>
    <table class="is_xianshi basic_table">
        <tr>
            <th>刷卡方式：</th>
        </tr>
        <{foreach from=$postype key=type item=item}>
        <tr style="line-height: 30px;">
            <td></td>
            <td class="lsc-td">
                <{$item}>
            </td>
            <td>
                费率: <input type="text" name="<{$type}>[0][feilv]" style="width: 50px;">
            </td>
            <td style="padding-left: 10px">
                <input type="checkbox" name="<{$type}>[0][is_enable]" id="<{$type}>-<{$flag}>"><label for="<{$type}>-<{$flag}>">是否启用</label>
            </td>
        </tr>
        <{/foreach}>
</table>
</form>
<div class="table-action"><{button type="submit"  label=$___b2c="保存"|t:'b2c' id='newmember-edit-form-submit'}></div>
<script>
    jq(function(){
        var url = 'index.php?app=b2c&ctl=admin_posbrand&act=ajaxGetHtml';

        jq("input[name=is_havesub]").on('click',function(event) {
            event.preventDefault();
            jq.post(url, {flag:0}, function(re) {
                jq('.need-append').last().after(re);
            });
        });
        var is_ErCode = "<{$info.is_ErCode}>";
        if (is_ErCode==1) {
            jq(".is_xianshi").css("display","none");
        }else{
            jq(".is_xianshi2").css("display","none");
        }
        var flag = 1;
        jq('.tianjian').click(function(event) {
            jq.post(url, {flag:flag}, function(re) {
                jq('.need-append').last().after(re);
            });
            flag ++;
        });
    });

    function isXianshi(is_havesub){
        if(is_havesub == "0"){
            jq(".is_xianshi").css("display","table-row");
            jq(".is_xianshi2").css("display","none");
        }
        if(is_havesub=="1"){
            jq(".is_xianshi").css("display","none");
            jq(".is_xianshi2").css("display","table-row");
        }
    }

    (function(){
        var _form = $('newmember-edit-form');
        var btn =$('newmember-edit-form-submit');
        var finder = finderGroup['<{$env.get._finder.finder_id}>'];

        _form.store('target',{
            onComplete:function(){
            },
            onSuccess:function(response){
                var hash_res_obj = JSON.decode(response);
                if (hash_res_obj.success != undefined && hash_res_obj.success != "")
                {
                    try{
                        var _dialogIns = btn.getParent('.dialog').retrieve('instance');
                    }catch(e){}

                    if(_dialogIns)
                    {
                        _dialogIns.close();
                        window.finderGroup['<{$env.get._finder.finder_id}>'].refresh();
                    }
                }
            }
        });

        btn.addEvent('click',function(){
            _form.fireEvent('submit',{stop:$empty});
        });
    })();
</script>


