<form method="POST" id='newmember-edit-form' action="index.php?app=b2c&ctl=admin_poscard&act=save" class="tableform">
    <input type="hidden" name="card_id" value="<{$info.card_id}>">
    <table width="100%" >
            <tr><th><em class="red">*</em><{t}>所属银行：<{/t}></th>
                <td>
                    <select name="name">
                        <{foreach from=$banks item=item}>
                        <option value='<{$item.bank}>' <{if $info.name==$item.bank}>selected <{/if}> > <{$item.bank}> </option>
                        <{/foreach}>
                    </select>
                </td>
            </tr>
            <tr>
                <th><em class="red">*</em><{t}>所属人：<{/t}></th>
                <td>
                    <input type="radio" name="belong_to" value="lsc" id="lsc" <{if $info.belong_to == lsc || !$info.belong_to}>checked <{/if}>> <label for="lsc">lsc</label>
                    <input type="radio" name="belong_to" value="liu" id="liu" <{if $info.belong_to == liu}>checked <{/if}> > <label for="liu">liu</label>
                </td>
            </tr>
            <tr class="is_xianshi">
                <th><{t}>卡号(后四位)：<{/t}></th>
                <td><{input type="text" name="card_no" value=$info.card_no }></td>
            </tr>
            <tr class="is_xianshi">
                <th><{t}>总额度：<{/t}></th>
                <td><{input type="text" name="all_edu" value=$info.all_edu }></td>
            </tr>
            <tr class="is_xianshi">
                <th><{t}>可用额度：<{/t}></th>
                <td><{input type="text" name="usable_edu" value=$info.usable_edu }></td>
            </tr>
            <tr class="is_xianshi">
                <th><{t}>账单日：<{/t}></th>
                <td><{input type="text" name="zhangdan_date" value=$info.zhangdan_date }>日/月</td>
            </tr>
            <tr class="is_xianshi">
                <th><{t}>还款日：<{/t}></th>
                <td><{input type="text" name="huankuan_date" value=$info.huankuan_date }>日/月</td>
            </tr>
            <tr class="is_xianshi">
                <th><{t}>备注：<{/t}></th>
                <td><{input type="text" name="memo" value=$info.memo }></td>
            </tr>
            <tr class="is_xianshi">
                <th><{t}>是否启用：<{/t}></th>
                <td>
                    <input type="radio" name="is_enabled" value="1" id="is_enabled1" <{if $info.is_enabled == 1 || !$info.is_enabled}>checked <{/if}>> <label for="is_enabled1">是</label>
                    <input type="radio" name="is_enabled" value="0" id="is_enabled2" <{if $info.is_enabled == 0}>checked <{/if}> > <label for="is_enabled2">否</label>
                </td>
            </tr>
    </table>
</form>
<div class="table-action"><{button type="submit"  label=$___b2c="保存"|t:'b2c' id='newmember-edit-form-submit'}></div>

<script>
    jq(function(){
        // jq("input[name=is_ErCode]").each(function(){
        //     jq(this).click(function(){
        //         var is_ErCode = jq(this).val();
        //         if(is_ErCode == "0"){
        //             jq(".is_xianshi").css("display","table-row");
        //         }
        //         if(is_ErCode=="1"){
        //             jq(".is_xianshi").css("display","none");
        //         }
        //     });
        // });
        // var is_ErCode = "<{$info.is_ErCode}>";
        // if (is_ErCode==1) {
        //     jq(".is_xianshi").css("display","none");
        // }
    });
    (function(){
        var _form = $('newmember-edit-form');
        var btn =$('newmember-edit-form-submit');
        var finder = finderGroup['<{$env.get._finder.finder_id}>'];

        _form.store('target',{
            onComplete:function(){
            },
            onSuccess:function(response){
                var hash_res_obj = JSON.decode(response);
                if (hash_res_obj.success != undefined && hash_res_obj.success != "")
                {
                    try{
                        var _dialogIns = btn.getParent('.dialog').retrieve('instance');
                    }catch(e){}

                    if(_dialogIns)
                    {
                        _dialogIns.close();
                        window.finderGroup['<{$env.get._finder.finder_id}>'].refresh();
                    }
                }
            }
        });

        btn.addEvent('click',function(){
            _form.fireEvent('submit',{stop:$empty});
        });
    })();
</script>


