<form method="POST" id='newmember-edit-form' action="index.php?app=b2c&ctl=admin_pos&act=postypesave" class="tableform">
    <table width="100%" >
            <tr><th><em class="red">*</em><{t}>pos机名称：<{/t}></th><td><{input type="text" name="name" size="20" vtype="required" value=$name }><span></span></td></tr>
            <tr><th><em class="red">*</em><{t}>pos机代号：<{/t}></th><td><{input type="text" name="pos_type" size="20" vtype="required" value=$pos_type }></td></tr>
            <tr><th><em class="red">*</em><{t}>费率：<{/t}></th><td><{input type="text" name="feilv" size="20" vtype="required" value=$feilv }></td></tr>
            <tr><th><{t}>备注：<{/t}></th><td><{input type='text' name='memo' value=$memo }></td></tr>
    </table>
</form>
<div class="table-action"><{button type="submit"  label=$___b2c="保存"|t:'b2c' id='newmember-edit-form-submit'}></div>

<script>
    (function(){
        var _form = $('newmember-edit-form');
        var btn =$('newmember-edit-form-submit');
        var finder = finderGroup['<{$env.get._finder.finder_id}>'];

        _form.store('target',{
            onComplete:function(){
            },
            onSuccess:function(response){
                var hash_res_obj = JSON.decode(response);
                if (hash_res_obj.success != undefined && hash_res_obj.success != "")
                {
                    try{
                        var _dialogIns = btn.getParent('.dialog').retrieve('instance');
                    }catch(e){}

                    if(_dialogIns)
                    {
                        _dialogIns.close();
                        window.finderGroup['<{$env.get._finder.finder_id}>'].refresh();
                    }
                }
            }
        });

        btn.addEvent('click',function(){
            _form.fireEvent('submit',{stop:$empty});
        });
    })();
</script>


