<style>
.belong{
    float: left;
    margin-right: 50px;
    font-size: 14px;
}
.belong li{
    margin-top: 10px;
}
.belong span{
    text-align: center;
    display: inline-block;
}
.belongSon{
    text-align: center;
}
.belongSon span:nth-child(1){
    width: 50px;
}
.belongSon span:nth-child(2){
    width: 100px;
}
.belongSon span:nth-child(3){
    width: 120px;
}
.belongSon span:nth-child(4){
    width: 50px;
}
.belongSon span:nth-child(5){
    width: 80px;
}
.belongSon span:nth-child(6){
    width: 80px;
}
</style>
<div class="remind-main">
</div>
<script type="text/javascript">
//获取信息

function getRemind(){
    var url = 'index.php?app=b2c&ctl=admin_everyday&act=ajaxGetRemind';
    jq.post(url, function(res) {
        jq('.remind-main').html(res);
    });
}
getRemind();
setInterval('getRemind()',7000);
</script>