<{css src="pos.css" app="b2c"}>
<div class="remind-main">

</div>
<div class="clean-both"></div>
<div>
	<div style="float: left;margin-right: 50px;">
		<button type="button" class="getZhangdan" data-flag='0'>查询上期账单</button>
	</div>
	<div style="float: left;margin-right: 50px;">
		<button type="button" class="getZhangdan" data-flag='1'>查询本期账单</button>
	</div>
	<div style="float: left;">
		<button type="button" class="cancelZhangdan">取消查询</button>
	</div>
</div>
<div class="clean-both"></div>
<div class="toZhangdan">

</div>
<div style="clear: both;"></div>
<div class="content" style="float: left;margin-top: 10px;">
	<div class="demos">
		<label for="appDate">开始日期</label>
		<input value="" class="content-input" readonly="readonly" name="timefrom" id="appDate" type="text" onchange="timeChange();">
	</div>
	<div class="demos">
		<label for="appDate2">结束日期</label>
		<input value="" class="content-input" readonly="readonly" name="timeto" id="appDate2" type="text" onchange="timeChange();">
	</div>
</div>
<div class="" style="float: left;margin-left: 20px;margin-top: 10px;">
	<div>
		<input type="radio" name="time-scope" value="qunian" id="qunian">
		<label for="qunian">去年</label>
		<input type="radio" name="time-scope" value="bennian" id="bennian" class="input-left">
		<label for="bennian">本年</label>
	</div>
	<div>
		<input type="radio" name="time-scope" value="shangyue" id="shangyue">
		<label for="shangyue">上月</label>
		<input type="radio" name="time-scope" value="benyue" id="benyue" class="input-left">
		<label for="benyue">本月</label>
	</div>
	<div>
		<input type="radio" name="time-scope" value="shangzhou"  id="shangzhou">
		<label for="shangzhou">上周</label>
		<input type="radio" name="time-scope" value="benzhou"  id="benzhou" class="input-left">
		<label for="benzhou">本周</label>
	</div>
	<div>
		<input type="radio" name="time-scope" value="zuotian" id="zuotian">
		<label for="zuotian">昨天</label>
		<input type="radio" name="time-scope" value="jintian" id="jintian" class="input-left">
		<label for="jintian">今天</label>
	</div>
</div>
<div class="clean-both"></div>
<div class="pos-main">
	<form action="#" method="post" data-type="ajax" class="form-log">
		<div class="menu1" style="padding-top: 20px;padding-left: 20px;">
			<ul>
				<li>
					<input type="radio" name="belong_to" value="0" id="belong_to0" checked><label for="belong_to0">全部</label>
				</li>
				<li>
					<input type="radio" name="belong_to" value="lsc" id="lsc" ><label for="lsc">我的</label>
				</li>
				<li>
					<input type="radio" name="belong_to" value="liu" id="liu" ><label for="liu">刘</label>
				</li>
				<li>
					<input type="checkbox" name="jiansuo" value="jiansuo" id="jiansuo" ><label for="jiansuo">pos机检索</label>
				</li>
			</ul>
		</div>
		<div class="clean-both"></div>
		<div class="menu">
			银行卡：
			<{foreach from=$cardLists key=belong_to item=cardList}>
			<ul class="ajax-poscard noactive card-<{$belong_to}>">
				<{foreach from=$cardList item=item}>
				<li>
					<input type="radio" name="card_id" data-share_flag=\'<{$item.share_flag}>\' value="<{$item.card_id}>" id="poscard<{$item.card_id}>" ><label for="poscard<{$item.card_id}>"><{$item.name}>-<{$item.card_no}>-<{$item.memo}></label>
				</li>
				<{/foreach}>
			</ul>
			<{/foreach}>
		</div>
		<div class="clean-both"></div>
		<div class="menu">
			刷卡机品牌：
			<ul class="ajax-posbrand">
				<{foreach from=$posBrandLists item=item}>
					<li>
						<input type="radio" name="posbrand_id" value="<{$item.0.posbrand_id}>" id="posbrand<{$item.0.posbrand_id}>"><label for="posbrand<{$item.0.posbrand_id}>"><{$item.0.name}></label>
					</li>
				<{/foreach}>
			</ul>
		</div>
		<div class="clean-both"></div>
		<div class="menu">
			刷卡方式：
				<{foreach from=$posBrandLists key=belong_to item=posBrandList}>
				<ul class="ajax-postype noactive posBrandList-<{$belong_to}>">
					<{foreach from=$posBrandList item=item}>
						<li>
							<input type="radio" name="postype_id" value="<{$item.postype_id}>" id="postype<{$item.postype_id}>" data-feilv="<{$item.feilv}>" data-fengding="<{$item.fengding}>"><label for="postype<{$item.postype_id}>"><{$item.sub_name}>-<{$item.shuaka_type}>-<{if $item.fengding>0}><{$item.fengding}><{else}><{$item.feilv}><{/if}></label>
						</li>
					<{/foreach}>
				</ul>
				<{/foreach}>
		</div>
		<div class="clean-both"></div>
		<div class="pos-input" style="overflow: hidden;">
			<div class="pos-input1">
				<div class="pos-input2">
					金额(¥)
				</div>
				<div class="pos-input2">
					类型
				</div>
				<div class="pos-input2">
					mcc
				</div>
				<div class="pos-input2">
					<input type="number" name="money" style="color: red;">
				</div>
				<div class="pos-input2">
					<select name="type">
	                    <option value="pos" >pos刷卡</option>
	                    <option value="xiaofei">消费</option>
	                    <option value="huankuan">还款</option>
	                    <option value="nianfei">年费</option>
	                    <option value="change">手动调整</option>
	                </select>
				</div>
				<div class="pos-input2">
					<input type="number" name="mcc" value="0">
				</div>
			</div>
		</div>
		<div class="clean-both"></div>
		<div class="btn-bar" style="margin-top: 30px;">
			<button type="button" class="btn orange" id="tijiao">提交</button>
		</div>
	</form>
	<div>
		历史记录：(当前日期：<{$time|cdate:FDATE}>)
		<div class="poslog">

		</div>
	</div>
</div>
<script type="text/javascript">
	var t = {};
	t.num =1;
	//默认本月的时间
	dateFrom = getMonthStartDate();
	jq('input[name=timefrom]').val(dateFrom);
	t.num=1;
	filterLogs($('.poslog'),t);
	jq(function(){
		//所属人
		var belong_to = jq('input[name=belong_to]:checked').val();
		if (belong_to != 0) {
			getPosCard(belong_to);
		}
		//获取刷卡方式
		jq(document).on('change','input[name=posbrand_id]', function(event) {
			//清空选中的
			jq('input[name=postype_id]:checked').prop("checked",false);
			//获取刷卡方式
			var belong_to = jq(this).val();
			getPosBrandList(belong_to);
			//检索按钮是否选中,获取是否选中
			var isChecked = $('input[name=jiansuo]').is(":checked");
			if (isChecked) {
				t.num=1;
				filterLogs($('.poslog'),t);
			}
		}).on('change', 'input[name=belong_to]', function(event) {//ajax获取信用卡列表
			//清空选中的卡id
			jq('input[name=card_id]:checked').prop("checked",false);
			var belong_to = jq(this).val();
			getPosCard(belong_to);
			filterLogs($('.poslog'),t);
		}).on('change', 'input[name=card_id]', function(event) {//ajax获取日志列表-根据卡号
			var card_id = jq(this).val();
			t.num=1;
			//旅游白返现mcc检索按钮是否选中,获取是否选中
			var isCheckedLv = $('input[name=lvyou-mcc]').is(":checked");
			var mccflag = '';
			var lvtext = jq(this).next().text();
			if (isCheckedLv && lvtext.indexOf("旅游白") != -1 ) {
				mccflag = 1;
			}
			filterLogs($('.poslog'),t,mccflag);
		});
	});
	function timeChange(){
		t.num=1
		filterLogs($('.poslog'),t);
	}
	//获取信用卡列表
	function getPosCard(belong_to){
		jq(".ajax-poscard").removeClass('active');
		jq(".card-"+belong_to).addClass('active');
	}
	//获取刷卡方式
	function getPosBrandList(belong_to){
		jq(".ajax-postype").removeClass('active');
		jq(".posBrandList-"+belong_to).addClass('active');
	}
	//ajax提交表单
	jq('#tijiao').on('click', function(event) {
		event.preventDefault();
		if(jq(this).attr('tijiao')=='1'){
            return false;
        }
        jq(this).attr('tijiao','1');
        setTimeout(
        	function(){
        		jq('#tijiao').attr('tijiao','0');
        	},5000
        );
		//获得已选中刷卡方式的费率
		var feilv = jq('input[name=postype_id]:checked').data('feilv');
		//获得已选中刷卡方式的封顶
		var fengding = jq('input[name=postype_id]:checked').data('fengding');
		//共享额度标识
		var share_flag = jq('input[name=card_id]:checked').data('share_flag');
		if (typeof(share_flag)=='undefined') {
            return false;
        }
		share_flag = share_flag.replace(/[\'\"\\\/\b\f\n\r\t]/g,'');// 去掉转义字符
		if (typeof(feilv)=='undefined') {
            feilv=0;
        }
        if (typeof(fengding)=='undefined') {
            fengding=0;
        }
		var type = jq("select[name=type]").val();

		var fomObj = jq('.form-log').serializeObject();
		fomObj['feilv'] = feilv;
		fomObj['fengding'] = fengding;
		fomObj['share_flag'] = share_flag;
		fomObj['type'] = type;
		console.log(fomObj);
		var url = '<{link app=b2c ctl=wap_pos act=save}>';
		jq.post(url,fomObj, function(re) {
			re =  JSON.parse(re);
			alert(re.msg);
			if (re.success) {
				//清空金额
				// jq('input[name=money]').val('');
				t.num=1
				filterLogs($('.poslog'),t);
			}
			jq('#tijiao').removeAttr('disabled');
		});
	});
	//ajax获取记录-翻页
	var page = 1;
	$('.poslog').on('click',function(e){
		var t = $(e.target);
		if(t.hasClass('flip')){
			if(t.hasClass('next')){
				t.num = parseInt(page)+1;
			}
			if(t.hasClass('prev')){
				t.num = parseInt(page)-1;
			}
			filterLogs($(this),t);
			return false;
		}
	}).on('change','select',function(){
		var t = $(this.options[this.selectedIndex]);
		if(t.hasClass('flip')){
			t.num = parseInt(t.attr('page'));
			filterLogs($('.poslog'),t);
		}
	});

	//获取记录
	function filterLogs(e,t,mccflag){
		var p = 'page=';

		//参数-所属人
    	var belong_to = 'belong_to=';
		var belong_to_val = $('input[name=belong_to]:checked').val();

		//参数-卡号
    	var card_id = 'card_id=';
		var card_id_val = $('input[name=card_id]:checked').val();

		//参数-时间范围
		var timefrom = $('input[name=timefrom]').val();
		var timeto = $('input[name=timeto]').val();
		if (timefrom && timeto) {
			if (timefrom>timeto) {
				alert('开始时间不能大于结束时间');
				return false;
			}
		}

		//刷卡机品牌
		var posbrand_id = 'posbrand_id=';
		var posbrand_id_val = $('input[name=posbrand_id]:checked').val();

		//旅游白mcc检索
		var mcc = 'mcc=';
		//pos机检索按钮是否选中,获取是否选中
		var isChecked = $('input[name=jiansuo]').is(":checked");

		//旅游白返现mcc检索按钮是否选中,获取是否选中
		var isCheckedLv = $('input[name=lvyou-mcc]').is(":checked");
		if(t&&t.num){
	        p += t.num;
			page = t.num;
    	}else{
    		p='';
    	}

    	if (belong_to_val) {
    		belong_to += belong_to_val;
    	}else{
    		belong_to='';
    	}

    	if (card_id_val) {
    		card_id += card_id_val;
    	}else{
    		card_id='';
    	}

    	if (timefrom) {
    		timefrom ='from_time='+timefrom;
    	}else{
    		timefrom = '';
    	}

    	if (timeto) {
    		timeto ='to_time='+timeto;
    	}else{
    		timeto = '';
    	}
    	//pos检索
    	if (isChecked && posbrand_id_val) {
    		posbrand_id += posbrand_id_val;
    	}else{
    		posbrand_id = '';
    	}

    	//旅游白mcc检索
    	if (isCheckedLv && mccflag) {
    		mcc += '1';
    	}else{
    		mcc = '';
    	}
		var params = [p,belong_to,card_id,timefrom,timeto,posbrand_id,mcc].filter(function(d){ return d;}).join('&');
  		var url = '<{link app=b2c ctl=wap_pos act=ajax_get_poslog}>';
		$.post(url, params, function(re){
			$(e).html(re);
		});
	}

	jq(document).on('change', 'input[name=time-scope]', function(event) {
		event.preventDefault();
		var timeScop = jq(this).val();
		var dateFrom = '';
		var dateTo = '';
		if (timeScop=='benzhou') {
			dateFrom = getWeekStartDate();
			dateTo = getWeekEndDate();
		}else if (timeScop=='benyue'){
			dateFrom = getMonthStartDate();
			dateTo = getMonthEndDate();
		}else if (timeScop=='shangyue') {
			dateFrom = getLastMonthStartDate();
			dateTo = getLastMonthEndDate();
		}else if (timeScop=='bennian') {
			dateFrom = getYearStartDate();
		}else if (timeScop=='qunian') {
			dateFrom = getLastYearStartDate();
			dateTo = getLastYearEndDate();
		}else if (timeScop=='zuotian') {
			dateFrom = getYesterdayStartDate();
			dateTo = getYesterdayStartDate();
		}else if (timeScop=='jintian') {
			dateFrom = getTodayStartDate();
		}else if (timeScop == 'shangzhou'){
			dateFrom = getLastWeekStartDate();
			dateTo = getLastWeekEndDate();
		}
		jq('input[name=timefrom]').val(dateFrom);
		jq('input[name=timeto]').val(dateTo);
		t.num=1;
		filterLogs($('.poslog'),t);
	});

	//pos机检索选中事件
	jq(document).on('change', 'input[name=jiansuo]', function(event) {
		event.preventDefault();
		t.num=1;
		filterLogs($('.poslog'),t);
	});
//提醒
function getRemind(){
    var url = '<{link app=b2c ctl=wap_pos act=ajaxGetRemind}>';
    jq.post(url, function(res) {
        jq('.remind-main').html(res);
    });
}
getRemind();
// setInterval('getRemind()',10000);

jq.fn.serializeObject = function(){
    var o = {};
   	var a = this.serializeArray();
   	jq.each(a, function() {
       	if (o[this.name]) {
           	if (!o[this.name].push) {
               	o[this.name] = [o[this.name]];
           	}
           	o[this.name].push(this.value || '');
       	} else {
           	o[this.name] = this.value || '';
       	}
   	});
   	return o;
};

jq('.getZhangdan').on('click', function(event) {
	event.preventDefault();
	var flag = jq(this).data('flag');
	console.log(flag);
  	var url = '<{link app=b2c ctl=wap_pos act=getZhangdan}>';
  	jq.post(url,{flag:flag}, function(re) {
  		jq('.toZhangdan').html(re);
  	});
});
jq('.cancelZhangdan').on('click',function(event) {
	event.preventDefault();
  	jq('.toZhangdan').html('');
});
</script>