<div class="pos-main">
	<form action="<{link app=b2c ctl=wap_pos act=save}>" method="post" data-type="ajax">
		<div class="menu" style="padding-top: 20px;">
			<ul>
				<li>
					<input type="radio" name="name" value="lsc" id="lsc" <{if $name=='lsc' }> checked <{elseif $name !='liu'}> checked <{/if}> ><label for="lsc">我的</label>
				</li>
				<li>
					<input type="radio" name="name" value="liu" id="liu" <{if $name=='liu' }> checked <{/if}> ><label for="liu">刘</label>
				</li>
			</ul>
		</div>
		<div class="clean-both"></div>
		<div class="menu">
			<ul>
				<li>
					<input type="radio" name="pos_type" value="jinkong" id="jinkong" <{if $pos_type=='jinkong' }> checked <{/if}> ><label for="jinkong">金控</label>
				</li>
				<li>
					<input type="radio" name="pos_type" value="changjietong028" id="changjietong028" <{if $pos_type=='changjietong028' }> checked <{/if}> ><label for="changjietong028">畅捷通0.28</label>
				</li>
				<li>
					<input type="radio" name="pos_type" value="changjietong03" id="changjietong03" <{if $pos_type=='changjietong03' }> checked <{/if}> ><label for="changjietong03">畅捷通0.3</label>
				</li>
				<li>
					<input type="radio" name="pos_type" value="qianbao" id="qianbao" <{if $pos_type=='qianbao' }> checked <{/if}> ><label for="qianbao">钱宝</label>
				</li>
				<li>
					<input type="radio" name="pos_type" value="xiaomage025" id="xiaomage025" <{if $pos_type=='xiaomage025' }> checked <{/if}> ><label for="xiaomage025">小马哥0.25</label>
				</li>
				<li>
					<input type="radio" name="pos_type" value="xiaomage03" id="xiaomage03" <{if $pos_type=='xiaomage03' }> checked <{/if}> ><label for="xiaomage03">小马哥0.3</label>
				</li>
				<li>
					<input type="radio" name="pos_type" value="weixin" id="weixin" <{if $pos_type=='weixin' }> checked <{/if}> ><label for="weixin">微信</label>
				</li>

				<li>
					<input type="radio" name="pos_type" value="zhifubao" id="zhifubao" <{if $pos_type=='zhifubao' }> checked <{/if}> ><label for="zhifubao">支付宝</label>
				</li>
			</ul>
		</div>
		<div class="clean-both"></div>
		<div class="menu3">
			<ul>
				<li>
					<input type="radio" name="bank" value="jiaotong" id="jiaotong" <{if $bank=='jiaotong' }> checked <{/if}> ><label for="jiaotong">交通银行</label>
				</li>
				<li>
					<input type="radio" name="bank" value="zhongxin" id="zhongxin" <{if $bank=='zhongxin' }> checked <{/if}> ><label for="zhongxin">中信银行</label>
				</li>
				<li>
					<input type="radio" name="bank" value="zhongguo" id="zhongguo" <{if $bank=='zhongguo' }> checked <{/if}> ><label for="zhongguo">中国银行</label>
				</li>
				<li>
					<input type="radio" name="bank" value="zhaoshang" id="zhaoshang" <{if $bank=='zhaoshang' }> checked <{/if}>><label for="zhaoshang">招商银行</label>
				</li>
				<li>
					<input type="radio" name="bank" value="guangda" id="guangda" <{if $bank=='guangda' }> checked <{/if}> ><label for="guangda">光大银行</label>
				</li>
				<li>
					<input type="radio" name="bank" value="gongshang" id="gongshang" <{if $bank=='gongshang' }> checked <{/if}> ><label for="gongshang">工商银行</label>
				</li>
				<li>
					<input type="radio" name="bank" value="shanghai" id="shanghai" <{if $bank=='shanghai' }> checked <{/if}> ><label for="shanghai">上海银行</label>
				</li>
				<li>
					<input type="radio" name="bank" value="guangfa" id="guangfa" <{if $bank=='guangfa' }> checked <{/if}> ><label for="guangfa">广发银行</label>
				</li>
				<li>
					<input type="radio" name="bank" value="xingye" id="xingye" <{if $bank=='xingye' }> checked <{/if}> ><label for="xingye">兴业银行</label>
				</li>
				<li>
					<input type="radio" name="bank" value="minsheng" id="minsheng" <{if $bank=='minsheng' }> checked <{/if}> ><label for="minsheng">民生银行</label>
				</li>
				<li>
					<input type="radio" name="bank" value="pingan" id="pingan" <{if $bank=='pingan' }> checked <{/if}> ><label for="pingan">平安银行</label>
				</li>
				<li>
					<input type="radio" name="bank" value="jianshe" id="jianshe" <{if $bank=='jianshe' }> checked <{/if}> ><label for="jianshe">建设银行</label>
				</li>
				<li>
					<input type="radio" name="bank" value="pufa" id="pufa" <{if $bank=='pufa' }> checked <{/if}> ><label for="pufa">浦发银行</label>
				</li>
			</ul>
		</div>
		<div class="clean-both"></div>
		<div class="pos-input">
			¥&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;：<input type="text" name="money">
			备注：
			<input type="text" name="memo"><br>
			mcc：
			<input type="number" name="mcc" value="<{$mcc}>">
		</div>
		<div class="btn-bar" style="margin-top: 30px;">
    		<button type="submit" class="btn orange" rel="_request">提交</button>
  		</div>
	</form>
</div>