<{if $poslogs.lists}>
<table>
	<tr>
		<td>记录总数：<{$total}>(条)</td>
		<td>总金额：<{$poslogs.moneySum|cur_odr}></td>
		<td>结算总金额：<{$poslogs.jiesuan_moneySum|cur_odr}></td>
		<td>利息：<{$poslogs.lixiSum|cur_odr}></td>
	</tr>
</table>
<table>
	<tr>
		<th>姓名</th>
		<th>银行</th>
		<th>卡号</th>
		<th>金额</th>
		<th>mcc</th>
		<th>刷卡方式</th>
		<th>时间</th>
	</tr>
	<{foreach from=$poslogs.lists item=poslog}>
	<tr>
		<td><{$poslog.belong_to}></td>
		<td><{$poslog.bankname}></td>
		<td><{$poslog.card_no}>-<{$poslog.bankmemo}></td>
		<td><{$poslog.money|cur_odr}></td>
		<td><{$poslog.mcc}></td>
		<td><{$poslog.brandname}>-<{$poslog.sub_name}>-<{$poslog.shuaka_type}></td>
		<td><{$poslog.create_time|cdate:FDATE_STIME}></td>
	</tr>
	<{/foreach}>
</table>
<{wap_pagers ajax=true data=$pager}>
<{else}>
暂无数据
<{/if}>
