<{if $poslogs.lists}>
<div style="text-align: center;">
	<div>
		<{$counts.tongji}>
	</div>
</div>
<table>
	<tr>
		<td>记录总数：<{$total}>(条)</td>
		<td>总金额：<{$counts.moneySum|cur_odr}></td>
		<td>结算总金额：<{$counts.jiesuan_moneySum|cur_odr}></td>
		<td>利息：<{$counts.lixiSum|cur_odr}></td>
	</tr>
</table>
<table class="poslog_table">
	<tr>
		<th>姓名</th>
		<th>银行</th>
		<th>卡号</th>
		<th>金额</th>
		<th>结算金额</th>
		<th>刷卡方式</th>
		<th>时间</th>
	</tr>
	<{foreach from=$poslogs.lists item=poslog}>
	<tr>
		<td colspan="3">
			<{$poslog.belong_to}>:<{$poslog.bankname}>-<{$poslog.card_no}>-<{$poslog.bankmemo}>
		</td>
		<td><{$poslog.money|cur_odr}></td>
		<td><{$poslog.jiesuan_money|cur_odr}></td>
		<td><{$poslog.brandname}>-<{$poslog.sub_name}>-<{$poslog.shuaka_type}></td>
		<td><{$poslog.create_time|cdate:FDATE_STIME}></td>
	</tr>
	<{/foreach}>
</table>
<{wap_pagers ajax=true data=$pager}>
<{else}>
暂无数据
<{/if}>
