<{if $poslogs.lists}>
<div class="poslog-count">
	<div>
		记录总数：<{$total}>(条)
	</div>
	<div>
		总金额：<{$counts.moneySum|cur_odr}>
	</div>
	<div>
		结算总金额：<{$counts.jiesuan_moneySum|cur_odr}>
	</div>
	<div>
		利息：<{$counts.lixiSum|cur_odr}>
	</div>
</div>

<div class="poslog-list-title poslog-list-title1">
	<div>姓名-银行-卡号</div>
	<div>金额</div>
	<div>结算金额</div>
	<div>刷卡方式</div>
	<div>时间</div>
</div>
<{foreach from=$poslogs.lists item=poslog}>
<div class="poslog-list-title poslog-list-title2">
	<div><{$poslog.belong_to}>:<{$poslog.bankname}>-<{$poslog.card_no}>-<{$poslog.bankmemo}></div>
	<div><{$poslog.money|cur_odr}></div>
	<div><{$poslog.jiesuan_money|cur_odr}></div>
	<div><{$poslog.brandname}>-<{$poslog.sub_name}>-<{$poslog.shuaka_type}></div>
	<div><{$poslog.create_time|cdate:FDATE_STIME}></div>
</div>
<{/foreach}>
<{wap_pagers ajax=true data=$pager}>
<{else}>
暂无数据
<{/if}>
