<{foreach from=$rowsets key=key item=rowset}>
<div class="remind-mainSon">
    <div class="">
        <div class="">
            <span><{$key}></span>
        </div>
    </div>
    <div class="remindAjax">
        <div class="">银行</div>
        <div class="">卡号</div>
        <div class="">可用额度</div>
        <div class="">今日已刷</div>
    </div>
    <{foreach from=$rowset item=item}>
    <div class="remindAjax">
        <div class=""><{$item.name}></div>
        <div class=""><{$item.card_no}>-<{$item.memo}></div>
        <div class=""><{$item.usable_edu}></div>
        <div class="" style="color:#CD0000"><{$item.count}></div>
    </div>
    <{/foreach}>
</div>
<{/foreach}>