.remind-main{
    margin-top: 45px;
    text-align: center;
}
.table_remind {
    /*table-layout: fixed*/
}
.table_remind td:nth-child(1){
    width: 60px;
}
.table_remind td:nth-child(2){
    width: 110px;
}
.table_remind td:nth-child(3){
    width: 130px;
}
.table_remind td:nth-child(4){
    width: 50px;
}
.table_remind td:nth-child(5){
    width: 30px;
}
.table_remind td:nth-child(6){
    width: 70px;
}
.belong{
    margin-right: 50px;
    font-size: 13px;
}
.belong li{
    /*margin-top: 6px;*/
}
.belong span{
    text-align: center;
    display: inline-block;
}
.belongSon{
    text-align: center;
}
/*.belongSon span:nth-child(1){
    width: 20px;
}
.belongSon span:nth-child(2){
    width: 50px;
}
.belongSon span:nth-child(3){
    width: 50px;
}
.belongSon span:nth-child(4){
    width: 50px;
}
.belongSon span:nth-child(5){
    width: 50px;
}
.belongSon span:nth-child(6){
    width: 50px;
}*/