.main {
    clear: both;
}

.clean-both {
    clear: both;
    margin-bottom: 10px;
    border-bottom: 1px dashed #000;
}

.menu1 ul li {
    float: left;
    /* 向左漂移，将竖排变为横排 */
    margin-bottom: 10px;
    width: 80px;
}

.menu ul li {
    float: left;
    /* 向左漂移，将竖排变为横排 */
    padding-left: 10px;
    margin-bottom: 10px;
    width: 42%;
}

.menu3 ul li {
    float: left;
    /* 向左漂移，将竖排变为横排 */
    margin-left: 10px;
    margin-bottom: 10px;
}

.pos-input {
    padding: 5px;
}

.pos-input input {
    width: 100%;
    height: 20px;
    border: 1px solid #000000;
}

.poslog table td {
    border: 1px solid #CD3278;
    padding: 3px;
}

.content-input {
    margin: 2px 0 5px 0;
}

.poslog_table {
    width: 100%;
    font-size: 10px;
    /*table-layout:fixed;*/
}

.input-left {
    margin-left: 25px;
}

.remind-main {
    margin-top: 45px;
    text-align: center;
    /*display: flex;*/
}

.table_remind {
    /*table-layout: fixed*/
}

.table_remind td:nth-child(1) {
    width: 60px;
}

.table_remind td:nth-child(2) {
    width: 110px;
}

.table_remind td:nth-child(3) {
    width: 130px;
}

.table_remind td:nth-child(4) {
    width: 50px;
}

.table_remind td:nth-child(5) {
    width: 30px;
}

.table_remind td:nth-child(6) {
    width: 70px;
}

.belong {
    margin-right: 50px;
    font-size: 13px;
}

.belong li {
    /*margin-top: 6px;*/
}

.belong span {
    text-align: center;
    display: inline-block;
}

.belongSon {
    text-align: center;
}

.remind-mainSon {
    font-size: 11px;
}

.remindAjax {
    display: flex;
}

.remindAjax div {
    border-top: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
}

.remindAjax:last-child {
    border-bottom: 1px solid #cccccc;
}

.remindAjax div:nth-child(1) {
    flex: 1.5
}

.remindAjax div:nth-child(2) {
    flex: 2
}

.remindAjax div:nth-child(3) {
    flex: 1.5
}

.remindAjax div:nth-child(4) {
    flex: 1
}

.remindAjax div:nth-child(5) {
    flex: 1
}

.toZhangdan {
    font-size: 11px;
    text-align: center;
}

.rownew {
    display: flex;
}

.rownew div {
    border-top: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
}

.rownew:last-child {
    border-bottom: 1px solid #cccccc;
}

/*银行*/
.rownew div:nth-child(1) {
    flex: 1.5
}
/*卡号*/
.rownew div:nth-child(2) {
    flex: 1
}
/*账单日*/
.rownew div:nth-child(3) {
    flex: 0.8
}
/*还款日*/
.rownew div:nth-child(4) {
    flex: 1.2
}
/*还款额度*/
.rownew div:nth-child(5) {
    flex: 1.5
}
/*已还款*/
.rownew div:nth-child(6) {
    flex: 1
}
.pos-input1 {
    display: flex;
    width: calc(100% + 10px);
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
}

.pos-input2 {
    flex: 0 0 calc(33.33% - 10px);
    margin-right: 10px;
}

.pos-input2 input {
    text-align: center;
}

.poslog-count {
    display: flex;
}

.poslog-count div {
    flex: 1;
    border: 1px solid #cccccc;
}

.poslog-list-title {
    display: flex;
    text-align: center;
    font-size: 11px;
}

.poslog-list-title div {
    border-bottom: 0.5px solid #CD0000;
    border-left: 0.5px solid #CD0000;
}

.poslog-list-title1 div {
    border-top: 0.5px solid #CD0000;
}

.poslog-list-title div:nth-child(1) {
    flex: 3;
}

.poslog-list-title div:nth-child(2) {
    flex: 2;
}

.poslog-list-title div:nth-child(3) {
    flex: 2;
}

.poslog-list-title div:nth-child(4) {
    flex: 3;
}

.poslog-list-title div:nth-child(5) {
    flex: 2;
}

.poslog-list-title2 div:nth-child(2) {
    line-height: 36px;
}

.poslog-list-title2 div:nth-child(3) {
    line-height: 36px;
}
.chaxun-button{
    display: flex;
}
.chaxun-button div {
    flex: 1;
}